---
const {title, url, publishedDate} = Astro.props;
const formattedDate = (publishedDate as Date).toLocaleDateString('en-NL');
---

<a href={url}>
    <li class="list-row hover:bg-base-200">
        <div>{title}</div>
        <div class="justify-self-end"><small class="text-sm">{formattedDate}</small></div>
    </li>
</a>