@inject AppTheme Theme

<button @onclick="UpdateTheme" type="button"
        class="w-12 h-12 border-none rounded-full absolute right-4 top-4 hover:text-white hover:bg-dark-red bg-cyan-dark text-white dark:hover:text-white dark:hover:bg-dark-red dark:bg-cyan-light dark:text-white">
    <i class="fa-sharp fa-solid @_themeIcon"></i>
</button>


@code {
    private string _themeIcon = "fa-sun";

    protected override async Task OnInitializedAsync()
    {
        Theme.UserPrefersDarkMode = await Theme.IsSystemDarkMode();
        _themeIcon = Theme.UserPrefersDarkMode ? "fa-moon" : "fa-sun";
        Theme.OnThemeChanged += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Theme.UserPrefersDarkMode = await Theme.IsSystemDarkMode();
            _themeIcon = Theme.UserPrefersDarkMode ? "fa-moon" : "fa-sun";
            await Theme.ListenForThemeChange();
        }
    }
    
    private void UpdateTheme()
    {
        Theme.UserPrefersDarkMode = !Theme.UserPrefersDarkMode;
        _themeIcon = Theme.UserPrefersDarkMode ? "fa-moon" : "fa-sun";
    }

}